<odoo>
    <menuitem id="data_exchange_root_menu" name="Data Exchange"/>

    <menuitem id="data_exchange_settings_list"
              name="Data Exchanges"
              parent="data_exchange_root_menu"
              action="action_data_import_job"/>

    <menuitem id="s3_data_exchange_configs"
              name="S3 Data Exchange configurations"
              parent="data_exchange_root_menu"
              action="action_s3_config"/>

    <menuitem id="sftp_data_exchange_configs"
              name="SFTP Data Exchange configurations"
              parent="data_exchange_root_menu"
              action="action_sftp_config"/>
</odoo>