<odoo>
    <menuitem id="vetclinic_root_menu" name="Vetclinic"/>

    <record id="view_sale_order_list_animal" model="ir.ui.view">
        <field name="name">sale.order.list.animal.vetclinic</field>
        <field name="model">sale.order</field>
        <field name="arch" type="xml">
            <list string="Animal Sale Orders">
                <field name="name"/>
                <field name="partner_id"/>
                <field name="animal_id"/>
                <field name="date_order"/>
            </list>
        </field>
    </record>

    <record id="action_sale_order_with_animal" model="ir.actions.act_window">
        <field name="name">Animal Sale Orders</field>
        <field name="res_model">sale.order</field>
        <field name="view_mode">list,form</field>
        <field name="view_id" ref="view_sale_order_list_animal"/>
        <field name="domain">[('animal_id','!=', False)]</field>
    </record>

    <menuitem id="vetclinic_menu"
              name="Animals"
              parent="vetclinic_root_menu"
              action="animal_action"/>

    <menuitem id="vetclinic_sale_orders_menu"
              name="Animal Sale Orders"
              parent="vetclinic_root_menu"
              action="action_sale_order_with_animal"/>

    <menuitem id="vetclinic_examinations_menu"
              name="Examinations"
              parent="vetclinic_root_menu"
              action="animal_examination_action"/>
</odoo>